.app-header {
  background-color: #222;
  height: 4em;
  padding: 1em;
  color: white;
  margin-bottom: 4em;
}
.app-title {
  font-size: 1.5em;
}

.card {
  margin-bottom: 3em;
  border-style: none;
}
.card a:link    {color:#000000;}
.card a:visited {color:#000000;}
.card a:hover   {color:#000000; text-decoration:none;}
.card a:active  {color:#000000;}
.card img { width:100%; }

.post-md {
  font-family: 'Merriweather','Georgia','serif';
  font-size: 1.3em;
  line-height: 2;
  word-wrap: break-word;  
}
.post-md img {
  display: block;
  max-width: 100%;
  height: auto;
}
.post-date {
  padding: 0;
  margin: 0;
  text-align: right;
}